.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: title;
  margin: 0;
  background: var(--color-primary);
  padding: 0 16px;
  color: var(--color-background);
}

.title {
  margin: 0 0 2px;
}

.totalDuration {
  margin: 0;
}
